<div class="col-md-7">
  <form method="POST" id="visa_application_form">
    <% @questions.each do |question| -%>
      <div class="form-group visa-applications-form">
        <h4>
          <strong><%= question.title %></strong>
          <% if question.muted_text and question.muted_text != "" %>
            <small class="text-muted">(<%= question.muted_text %>)</small>
          <% end %>
        </h4>
        <% if question.question_type == "string_input" %>
          <input type="textanswer" class="form-control col-md-9" id="FormControlInput<%= question.id %>"
                 name="question_<%= question.id %>" placeholder="<%= question.placeholder %>">
        <% elsif question.question_type == "radiobutton_choice" %>
          <% question.question_options.each do |question_option| -%>
            <div class="form-check form-check-inline input">
              <input class="form-check-input radiobutton" type="radio" name="question_<%= question.id %>"
                     id="inlineRadio<%= question_option.id %>" value="<%= question_option.content %>">
              <label class="form-check-label" for="inlineRadio<%= question_option.id %>">
                <%= question_option.content %>
              </label>
            </div>
          <% end %>
        <% elsif question.question_type == "date" %>
          <div class="dates klop">
            <div class="start_date input-group mb-4">
              <input class="form-control start_date col-md-9" name="question_<%= question.id %>"
                     placeholder="дд.мм.гг"
                     id="startdate_datepicker" data-provide='datepicker'>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
    <div class="visa-applications-button">
      <button type="submit" form="visa_application_form" value="Submit" class="btn btn-primary">Далее</button>
    </div>

  </form>
</div>
