<h1>New Visa Application</h1>

<%= form_with(model: @visa_application, local: true) do |form| %>
  <%#= form.label :title %>
  <%#= form.text_field :title %>
  <%#= form.label :body %>
  <%#= form.text_area :body %>






  <% VisaApplicationForm.find(1).steps.each do |step| %>
    <%= step.title %>

    <% step.questions.each do |question| %>
      <%= question.title %>
      <%= question.body %>

      <%
        answer = Answer.new
      %>

      <%= text_field_tag "question_answer_#{ question.id }" %>
    <% end %>
  <% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
