<%= form_with(model: visa_app_one, url: update_step_2_visa_app_one_path(visa_app_one), local: true) do |form| %>
  <% if visa_app_one.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visa_app_one.errors.count, "error") %> prohibited this visa_app_one from being saved:</h2>

      <ul>
      <% visa_app_one.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :q2 %>
    <%= form.text_field :q2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
