<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @visa_app_one.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @visa_app_one.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @visa_app_one.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @visa_app_one.q4 %>
</p>

<%= link_to 'Edit', edit_visa_app_one_path(@visa_app_one) %> |
<%= link_to 'Back', visa_app_ones_path %>
