<%= form_with(model: visa_application_form_step, local: true) do |form| %>
  <% if visa_application_form_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visa_application_form_step.errors.count, "error") %> prohibited this visa_application_form_step from being saved:</h2>

      <ul>
      <% visa_application_form_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :visa_application_form_id %>
    <%= form.number_field :visa_application_form_id %>
  </div>

  <div class="field">
    <%= form.label :step_id %>
    <%= form.number_field :step_id %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
