<br>

  <section>
<div class="col-md-8 form-group visa-applications-form-reg center-text_2">
  <h2>
    <strong>Вход</strong>
  </h2>
  <h4>
      <div class="small-text-reg">
        <small class="text-muted-reg">Войдите, чтобы начать путешествовать</small>
      </div>
  </h4>
    </section>

<div class="registration_page">
    <h5>
      <strong>Email</strong>
    </h5>


      <div class="input-email">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>


    </div>

    <br>


      <div class="field">
        <h5>
          <strong>Пароль</strong>
        </h5>

        <div class="minimum_password_length">
        <% if @minimum_password_length %>

        <em>(<%= @minimum_password_length %> символов минимум) </em>
        <% end %><br/>
        <br>


        <div class="input-new-password">

          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

    <br>

    <div class="remember_me">

    <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        </div>
    <% end %>

    <br>

    <div class="button-registration">
      <%= f.submit "Войти", class: "btn btn-primary greatbtn" %>
    </div>
    <% end %>
</div>

    <br>

  <div class="link_registration-2">
      <%= render "devise/shared/links" %>
  </div>

    <div class="image registrationimg">
      <%= image_tag("78.png") %>
    </div>

    </div>
