 <br>
 <div class="col-md-12 form-group visa-applications-form center-text">
  <h2>
    <strong>Выбери страну для путешествия</strong>
  </h2>
  <h4>
      <div class="small-text test-text">
        <small class="text-muted-3">Давайте начнём с выбора страны для путешествия <br> Если вы не можете найти нужную страну, напишите нам, мы будем рады вам помочь</small>
      </div>
  </h4>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="image-country-1">
          <%= image_tag("hannah-busing-478749-unsplash.jpg") %>
      </div>
    </div>

    <div class="col">
      <div class="image-country-2">
          <%#= image_tag("photo-1531219432768-9f540ce91ef3.jpeg") %>
      </div>
    </div>
  </div>

  <h5>
      <div class="country-small-text">
        <small class="text-muted">США</small>
      </div>
  </h5>

  <h4>
    <div class="country-small-text-1">
    <strong>Нью-Йорк</strong>
    </div>
  </h4>

  <h5>
      <div class="country-small-text-2">
        <small class="text-muted">Стоимость: 40 € за одну неделю • <br> Вероятность получения: 65%</small>
      </div>
  </h5>



  <div class="btn-primary-finish-2">
    <%= link_to 'Выбрать', (:country_page), class: "btn btn-primary greatbtn"%>
  </div>


<br>
<br>
<br>
<br>
<br>
<br>

<br>





  <div class="input-2">
  <h5>
      <div class="country-small-text">
        <small class="text-muted">Лос-Анджелес</small>
      </div>
  </h5>

  <h4>
    <div class="country-small-text-1">
    <strong>Калифорния</strong>
    </div>
  </h4>

  <h5>
      <div class="country-small-text-2">
        <small class="text-muted">Стоимость: 60 € за две недели • <br> Вероятность получения: 45%</small>
      </div>
  </h5>
  </div>

  <div class="btn-primary-finish-3">
    <%= link_to 'Выбрать', (:country_page_2), class: "btn btn-primary greatbtn"%>
  </div>





<br>
<br>
<br>
<br>




  <div class="container">
    <div class="row">
      <div class="col">
        <div class="image-country-3">
            <%#= image_tag("photo-1484804959297-65e7c19d7c9f.jpeg") %>
        </div>
      </div>
      <div class="col">
        <div class="image-country-4">
            <%#= image_tag("photo-1517760444937-f6397edcbbcd-2.jpeg") %>
        </div>
      </div>
    </div>

<div class="input-3">
    <h5>
        <div class="country-small-text">
          <small class="text-muted">Швейцария</small>
        </div>
    </h5>

    <h4>
      <div class="country-small-text-1">
      <strong>Бёрн</strong>
      </div>
    </h4>

    <h5>
        <div class="country-small-text-2"">
          <small class="text-muted">Стоимость: 35 € за две недели • <br> Вероятность получения: 80%</small>
        </div>
    </h5>

    <div class="input-4">
    <h5>
        <div class="country-small-text">
          <small class="text-muted">Мальта</small>
        </div>
    </h5>

    <h4>
      <div class="country-small-text-1">
      <strong>Валлетта</strong>
      </div>
    </h4>

    <h5>
        <div class="country-small-text-2">
          <small class="text-muted">Стоимость: 50 € за одну неделю • <br> Вероятность получения: 70%</small>
        </div>
    </h5>
    </div>

    <div class="btn-primary-finish-5">
      <%= link_to 'Выбрать', (:country_page_4), class: "btn btn-primary greatbtn"%>
    </div>

    <div class="btn btn-primary-finish-4">
      <%= link_to 'Выбрать', (:country_page_3), class: "btn btn-primary greatbtn"%>
    </div>
