<div class="container-landing">


<div class="image center-image" class="img-fluid" alt="Responsive image">
  <%= image_tag("main.jpg", :alt => "rss feed") %>

  <div class="col-md-9 form-group visa-applications-form main-h2-text list-unstyled">
    <h2>
      <p align="left">
        <strong>Надоело заполнять бумаги на визу?<br>Доверь свою визу нам!</strong>
      </p>
    </h2>
</div>

<div class="col-md-2">
  <button type="button" class="btn btn-primary btn-lg">
      <%= link_to 'Выбрать страну', (:choose_country), class: "btn btn-primary-1 greatbtn-main"%>
  </button>
</div>

</div>

<div class="col-md-12 form-group visa-applications-form center-text-p center-text">
 <h2>
   <strong>Надоело получать отказы?<br>Твоя виза уже в кармане!</strong>
 </h2>
 <h4>
     <div class="small-text test-text">
       <small class="text-muted-3">Ты всегда уделяешь кучу своего свободного<br>времени на организацию путешествия?<br>Сервис Easy-visa  сделает все за тебя!<br>Забудь о визе, только тусовки!</small>
     </div>
 </h4>
</div>




<div class="example3">
  <div class="image-country-main-1">
      <%= image_tag("main4.jpg") %>
      <div class="example_text col-md-3">
        <h4>Национальная виза без проблем</h4>
        <span>Со 100% гарантией успешного получения</span>
        <br>
        <br>
        <h3>150$</h3>
      </div>
      <%= image_tag("main3.jpg") %>
      <div class="example_text-2 col-md-3">
        <h4>Шенген за 3 дня</h4>
        <span>Со 100% гарантией  получения</span>
        <br>
        <br>
        <h3>200$</h3>
      </div>
      <%= image_tag("main5.jpg") %>
      <div class="example_text-3 col-md-3">
        <h4>Шенген под твоим контролем</h4>
        <span>Собери бумаги и заполни нашу анкету,дальше мы сами!</span>
        <br>
        <br>
        <h3>50$</h3>
      </div>
  </div>
</div>


  <div class="col-md-12 form-group visa-applications-form center-text-p center-text">
   <h2>
     <strong>Каждый следующий раз проще<br>предыдущего</strong>
   </h2>
  </div>

<br>
<br>
<br>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="image-country-main-crug"">
          <%= image_tag("mac1.jpg") %>
          <%= image_tag("mac2.jpg") %>
          <%= image_tag("mac3.jpg") %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 form-group visa-applications-form center-text-p center-text mainthree">
   <h5>
     <strong>Всё понятно</strong>
   </h5>
   <h4>
       <div class="small-text test-text text-muted-2">
         <small class="text-muted-2">Интерфейс Erde очень понятен,<br>вам не придётся долго<br>проходить множество шагов,<br>чтобы просто отдохнуть</small>
       </div>
   </h4>
  </div>

  <div class="col-md-12 form-group visa-applications-form center-text-p center-text mainthree-1">
   <h5>
     <strong>Хранение данных</strong>
   </h5>
   <h4>
       <div class="small-text test-text text-muted-2">
         <small class="text-muted-2">Если вы когда-то заполнили<br>анкету в Erde, мы сохраним все<br>данные и вам не придётся их<br>снова вносить</small>
       </div>
   </h4>
  </div>

  <div class="col-md-12 form-group visa-applications-form center-text-p center-text mainthree-2">
   <h5>
     <strong>Универсальная анкета</strong>
   </h5>
   <h4>
       <div class="small-text test-text text-muted-2">
         <small class="text-muted-2">Наша анкета подойдёт сразу<br>для всех стран специально для<br>того, чтобы вы не путались,<br>а наслаждались поездкой</small>
       </div>
   </h4>
  </div>

  <div class="image center-image" class="img-fluid" alt="Responsive image">
    <%= image_tag("mainback3.jpg", :alt => "rss feed") %>

    <div class="col-md-9 form-group visa-applications-form main-h2-text list-unstyled">
      <h2>
        <p align="left">
          <strong>Норвегия, Шенген</strong>
          <br>
          <small class="text-muted-96">2 недели, 100$</small>
        </p>
      </h2>
  </div>

  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-lg">
        <%= link_to 'Выбрать страну', (:choose_country), class: "btn btn-primary-1 greatbtn-main"%>
    </button>
  </div>
  </div>

  <div class="col-md-12 form-group visa-applications-form center-text-p center-text">
   <h2>
     <strong>Просто выбери визу,<br>остальное доверь нам</strong>
   </h2>
  </div>

  <br>
  <br>
  <br>

  <div class="example3">
    <div class="image-country-main-1">
        <%= image_tag("choosecountryB6") %>
        <div class="example_text col-md-3">
          <h4>Национальная виза без проблем</h4>
          <span>Со 100% гарантией успешного получения</span>
          <br>
          <br>
          <h3>150$</h3>
        </div>
        <%= image_tag("choosecountryS1.jpg") %>
        <div class="example_text-2 col-md-3">
          <h4>Шенген за 3 дня</h4>
          <span>Со 100% гарантией  получения</span>
          <br>
          <br>
          <h3>200$</h3>
        </div>
        <%= image_tag("choosecountryB2.jpg") %>
        <div class="example_text-3 col-md-3">
          <h4>Шенген под твоим контролем</h4>
          <span>Собери бумаги и заполни нашу анкету,дальше мы сами!</span>
          <br>
          <br>
          <h3>50$</h3>
        </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="example3">
    <div class="image-country-main-1">
        <%= image_tag("choosecountryB4.jpg") %>
        <div class="example_text col-md-3">
          <h4>Национальная виза без проблем</h4>
          <span>Со 100% гарантией успешного получения</span>
          <br>
          <br>
          <h3>150$</h3>
        </div>
        <%= image_tag("choosecountryS3.jpg") %>
        <div class="example_text-2 col-md-3">
          <h4>Шенген за 3 дня</h4>
          <span>Со 100% гарантией  получения</span>
          <br>
          <br>
          <h3>200$</h3>
        </div>
        <%= image_tag("choosecountryB7.jpg") %>
        <div class="example_text-3 col-md-3">
          <h4>Шенген под твоим контролем</h4>
          <span>Собери бумаги и заполни нашу анкету,дальше мы сами!</span>
          <br>
          <br>
          <h3>50$</h3>
        </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="example3">
    <div class="image-country-main-1">
        <%= image_tag("choosecountryB8.jpg") %>
        <div class="example_text col-md-3">
          <h4>Национальная виза без проблем</h4>
          <span>Со 100% гарантией успешного получения</span>
          <br>
          <br>
          <h3>150$</h3>
        </div>
        <%= image_tag("main3.jpg") %>
        <div class="example_text-2 col-md-3">
          <h4>Шенген за 3 дня</h4>
          <span>Со 100% гарантией  получения</span>
          <br>
          <br>
          <h3>200$</h3>
        </div>
        <%= image_tag("main5.jpg") %>
        <div class="example_text-3 col-md-3">
          <h4>Шенген под твоим контролем</h4>
          <span>Собери бумаги и заполни нашу анкету,дальше мы сами!</span>
          <br>
          <br>
          <h3>50$</h3>
        </div>
    </div>
  </div>

  <div class="col-md-12 form-group visa-applications-form center-text-p center-text">
   <h2>
     <strong>А еще...</strong>
   </h2>
  </div>

<br>
<br>
<br>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="image-country-main-crug"">
          <%= image_tag("maincrugback2.jpg") %>
          <%= image_tag("maincrugback1.jpg") %>
          <%= image_tag("maincrugback3.jpg") %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 form-group visa-applications-form center-text-p center-text mainthree">
   <h5>
     <strong>Срочное оформление</strong>
   </h5>
   <h4>
       <div class="small-text test-text text-muted-2">
         <small class="text-muted-2">Интерфейс Erde очень понятен,<br>вам не придётся долго<br>проходить множество шагов,<br>чтобы просто отдохнуть</small>
       </div>
   </h4>
  </div>

  <div class="col-md-12 form-group visa-applications-form center-text-p center-text mainthree-1">
   <h5>
     <strong>Курьер</strong>
   </h5>
   <h4>
       <div class="small-text test-text text-muted-2">
         <small class="text-muted-2">Если вы когда-то заполнили<br>анкету в Erde, мы сохраним все<br>данные и вам не придётся их<br>снова вносить</small>
       </div>
   </h4>
  </div>

  <div class="col-md-12 form-group visa-applications-form center-text-p center-text mainthree-2">
   <h5>
     <strong>Страхование</strong>
   </h5>
   <h4>
       <div class="small-text test-text text-muted-2">
         <small class="text-muted-2">Наша анкета подойдёт сразу<br>для всех стран специально для<br>того, чтобы вы не путались,<br>а наслаждались поездкой</small>
       </div>
   </h4>
  </div>


  <div class="image center-image mainback1" class="img-fluid" alt="Responsive image">
    <%= image_tag("lastback1.jpg", :alt => "rss feed") %>

    <div class="col-md-9 form-group visa-applications-form main-h2-text list-unstyled">
      <h2>
        <p align="left">
          <strong>Норвегия, Шенген</strong>
          <br>
          <small class="text-muted-96">2 недели, 100$</small>
        </p>
      </h2>
  </div>

  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-lg">
        <%= link_to 'Выбрать страну', (:choose_country), class: "btn btn-primary-1 greatbtn-main"%>
    </button>
  </div>
  </div>
